@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
:root{
    --omaps-color1: #EA6E4B;
    --omaps-color2: #ffffff;
    --omaps-color3: #49484A;
    --omaps-color4: #000000;
    --omaps-color5: #CBDDDE;
}
body{
    background: url(./zen.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--omaps-color5);
    color: var(--omaps-color2);
    font-family: 'Dosis', Arial, Helvetica, sans-serif;

}
/* top elements styling below */
.top{
    background-color: rgb(0, 0, 0,0.5);
    text-align: center;
}
.logo{
    text-align: center;
    padding: 5px;
    padding-bottom: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: var(--omaps-color1);
    text-shadow: 2px 2px var(--omaps-color2);
}
.desc{
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    padding: 5px;
    padding-bottom: 0;
    text-align: center;
}
.datain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.datain input{
    text-align: center;
    font-size: 25px;
    padding: 5px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    background-color: rgb(0, 0, 0,0.5);
    color: var(--omaps-color2);
    border: solid 2px var(--omaps-color1);
}
.datain input::placeholder{
    font-size: 22px;
    color: rgba(156, 156, 156, 0.795);
}
#btn{
    background-color: var(--omaps-color1);
    color: var(--omaps-color2);
    border: none;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
}
.info{
    margin: 10px 0;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    color: var(--omaps-color2);
    border-radius: 25px;
    font-weight: bold;
    border: solid 2px var(--omaps-color1);
    background-color: rgb(0, 0, 0,0.35);
}
/* main temperature styling */
#actual{
    grid-column: 1/3;
    grid-row: 1/3;
    font-size: 70px;
    font-weight: normal;
}
#unit{
    font-size: 40px;
}
.accent{
    color: var(--omaps-color3);
}
#weather{
    grid-column: 3/5;
    grid-row: 1/3;
}
.info-text{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 1/5;
}
/* feels like temperature styling */
.info-text #feels{
    font-size: 15px;
    letter-spacing: 1.5px;
}
.info-text #weather-desc{
    font-size: 15px;
    letter-spacing: 1.5px;
}
#humidity{
    grid-column: 1/5;
    font-size: 22px;
    letter-spacing: 2px;
    padding: 10px;
}
#name{
    grid-column: 1/5;
    padding: 10px;
    letter-spacing: 2.2px;
    font-size: 20px;
}
/* last div showing api used styling */
#api{
    padding: 5px;
    padding-top: 10px;
    grid-column: 1/5;
    font-family: 'Quicksand', sans-serif;
    font-size: 11px;
    color: var(--omaps-color3);
    text-align: right;
}
#open{
    color: var(--omaps-color2);
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 500px){
    .container{
        width: 85%;
    }
    #actual,#feels{
        text-align: center;
        padding-left: 15px;
    }
}
