@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
}
:root{
    --omaps-color1: rgb(211, 211, 211);
    --omaps-color2: #EA6E4B;
    --omaps-color3: white;
    --main-text-color: white;
    --box-text-color: black;
}
body{
    background-color: var(--omaps-color1);
    color: var(--main-text-color);
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Dosis', sans-serif;

}
.logo{
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: var(--omaps-color2);
    color:black;
    outline: solid 2px black;
}
#letter-logo{
    color: var(--omaps-color2);
}
.container{
    display: flex;
    flex-direction: column;
    /* height: 80vh; */
    outline: solid white 2px;
    width: 65%;
    margin: 10px auto;
    justify-content: space-between;
    text-align: center;
    padding: 0 10px;
    outline: solid 2px red;
}
.datain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 28vh; */
    outline: solid black 2px;
    margin: 10px 0;;
}
.datain input{
    text-align: center;
    font-size: 25px;
    padding: 5px;
    margin: 5px 0;
    border: none;
    background-color: var(--bg-color);
    color: var(--omaps-color2);
    border-bottom: solid 2px var(--omaps-color2);
}
.datain input::placeholder{
    font-size: 22px;
    color:  rgb(206, 206, 206);
}
#btn{
    background-color: var(--omaps-color2);
    /* border: solid 2px var(--omaps-color3); */
    border: none;
    border-radius: 25px;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0;
    color: var(--main-text-color);
}
.info{
    outline: 2px solid blue;
    /* height: 48vh; */
    margin-bottom: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    /* background-color: var(--omaps-color3); */
    /* background-color: rgb(85, 241, 92); */
    color: var(--omaps-color2);
    /* color: rgb(0, 0, 0); */
    border-radius: 25px;
    z-index: -100;
    font-weight: bold;
}
.info > div{
    outline: 2px solid yellow;
}
#temp{
    grid-column: 1/4;
    grid-row: 1/3;
    /* height: 22vh; */
    /* padding-right: 20px; */
}
#actual{
    font-size: 70px;
    font-weight: normal;
    text-align: left;
    padding-left: 15px;
}
#unit{
    font-size: 40px;
}
#feels{
    font-size: 15px;
    letter-spacing: 1.5px;
    text-align: left;
    padding: 15px;
    padding-left: 15px;
}
#weather{
    grid-column: 3/5;
    grid-row: 1/3;
}
#weather-desc{
    font-size: 15px;
    letter-spacing: 1.5px;
}

#humidity{
    grid-column: 1/5;
    font-size: 22px;
    letter-spacing: 2px;
    padding: 10px;
}
#name{
    grid-column: 1/5;
    padding: 10px;
    letter-spacing: 2.2px;
    font-size: 20px;
}

@media (max-width: 500px){
    .container{
        width: 85%;
    }
}